:root {
    --primaryColor: #1F8FCD;
    --secondaryColor: #18CBEF;
    --white: #FFFFFF;
    --black: #000000;
    --appBlack: #353535;
    --textSecondary: #757575;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ====== NavBar ====== */
/* Add this CSS to fix the header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: var(--white);
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
}

#nav {
    padding: 0px 50px;
    height: 83px;
    background-color: var(--white) !important;
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.5);

    z-index: 2;
}



.nav-logo img {
    max-width: 70%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.custom-nav-link {
    margin-right: 30px;
}

.custom-nav-link a {
    color: var(--appBlack);
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
}

.custom-nav-link a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease;
}

.custom-nav-link a:hover::after,
.custom-nav-link a.selected::after {
    width: 100%;
    background-color: var(--primaryColor);
}

.custom-nav-link a:hover {
    color: var(--primaryColor);
}

.nav-link.selected {
    color: var(--primaryColor);
    font-weight: bold;
}

.services-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.services-dropdown:hover .dropdown-content {
    display: block;
}

.services-dropdown .dropdown-content a {
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
}

.services-dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.services-dropdown .nav-link i {
    margin-left: 1px;
    /* Adjust as needed */
    font-size: 16px;
    /* Adjust as needed */
}

.contact-btn {
    padding: 8px 30px;
    font-size: 14px;
    background-color: var(--primaryColor);
    color: var(--white) !important;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: var(--primaryColor);
    color: var(--white);
}

/* === Responsive For Mobile view Navbar ==== */
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        /* top: 5rem; */
        z-index: 1;
        top: 9rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}



/* ===== Hero ===== */
.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fm-home {
    z-index: 0;
}

.fm-bg {
    z-index: 1;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero {
        height: auto;
        /* Adjust as needed */
    }
}





/* ===== FM Services ===== */
.fm-services {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

/* .fm-services h2 {
    margin-bottom: 30px;
    
} */

.fm-services h2 {
    font-size: 2vw;
    margin-bottom: 40px;
    font-weight: 400;
    color: var(--textSecondary);
}

.fm-services h2 span {
    color: var(--secondaryColor);
    font-weight: 600;
    letter-spacing: 1;
    font-size: 2vw;
    line-height: 0.5;
}

.fm-services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.fm-services-card {
    flex: 0 0 calc(30.33% - 40px);
    height: 400px;
    background: rgb(31, 143, 205);
    background: linear-gradient(140deg, rgba(31, 143, 205, 1) -500%, rgba(255, 255, 255, 1) 60%);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}



.fm-services-card img {
    max-width: 100%;
    width: 130px;
    height: auto;
    border-radius: 5px;
}

.fm-services-card h5 {
    margin-top: 28px;
    margin-bottom: 20px;
    font-size: 1vw;
    color: var(--textSecondary);
    text-align: left;
    /* Adjust margin as needed */
}

.fm-services-card p {
    color: var(--textSecondary);
    text-align: left;
    font-size: 0.8vw;
    /* Adjust text color as needed */
}

@media (max-width: 768px) {
    .fm-services-card {
        flex: 0 0 calc(50% - 20px);
        /* Adjust for two cards per row on smaller screens */
        max-width: calc(50% - 20px);
        /* Adjust for two cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .fm-services-card {
        flex: 0 0 100%;
        /* Adjust for single card per row on smaller screens */
        max-width: 100%;
        /* Adjust for single card per row on smaller screens */
    }
}




/* ===== Extra Cost? ===== */
#cost {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}


#cost h2 {
    font-size: 2vw;
    margin-bottom: 40px;
    font-weight: 400;
    color: var(--textSecondary);
    margin-left: 200px;
}

.cost-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* .cost-column {
    flex: 0 0 40%;
    max-width: 40%;

}

.cost-column:nth-child(2) {
    flex: 0 0 60%;
    max-width: 60%;
} */

.cost-column img {
    max-width: 100%;
    width: 350.32px;
    /* Ensure image responsiveness */
}

.cost-column h1 {
    color: var(--secondaryColor);
    font-weight: 600;
    letter-spacing: 1.5;
    font-size: 3.5vw;
    line-height: 0.5;
    margin-bottom: 30px;

}

.cost-column p {
    font-size: 20px;
    color: var(--textSecondary);
    letter-spacing: 1.5;
    /* Adjust font size as needed */
}

.cost-column span {
    font-weight: bold;
    /* Adjust font weight as needed */
}



/* ====== Industries Section ====== */

#Industries {
    padding: 50px 0;
    background-color: rgba(31, 143, 205, 0.1);
    padding-left: 100px;
    padding-right: 100px;
    margin-top: -5px;
}

#Industries h2 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 500;
    color: var(--primaryColor);
    text-align: center;
}

.Industries-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.Industries-column {
    flex: 1;
    max-width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
}

.Industries-column img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Ensure images are displayed as blocks */
    margin: 0 auto;
    /* Center images horizontally */
}

.Industries-column h5 {
    margin-top: 20px;
    font-size: 18px;
    color: var(--appBlack);
    font-weight: 500;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    #Industries {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Industries-column {
        max-width: calc(100% - 20px);
    }
}


#template {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    background: linear-gradient(140deg, #FEB914 -300%, #FFFFFF 50%);
    height: 60vh;
    overflow: hidden;

    /* Add this line to hide overflow content */
}

.template-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.template-column {
    flex: 0 0 70%;
    max-width: 70%;
}

.template-column:nth-child(2) {
    flex: 0 0 30%;
    max-width: 30%;
}

.template-column img {
    max-width: 100%;
    width: 320px;
    height: auto;

}

.template-col {
    margin-top: -30px;
}

#template h1 {

    font-size: 2.5vw;
    margin-bottom: 40px;
    font-weight: 500;
    color: var(--textSecondary);
}

.template-column h1 span {
    color: var(--primaryColor);
    letter-spacing: 1.5;
    font-weight: bold;
}

.template-column p {
    font-size: 16px;
    color: var(--textSecondary);
    margin-bottom: 8px;
}


.view-more {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 14px;
    color: var(--white);
    background-color: var(--primaryColor);
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.view-more:hover {
    background-color: var(--white);
    color: var(--primaryColor);
}














/* ====== Footer Section ====== */
/* #footer {
    padding: 50px 150px 0px 150px;
} */

#footer {
    background-color: var(--primaryColor);
    color: #FFFFFF;
    background-image: url('../images/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    margin-top: -5px;

}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-col {
    flex: 1;

}

.footer-col-left {
    text-align: left;
    /* margin-left: 100px; */
}

.footer-col-left p {
    font-size: 39px;
    width: 100%;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.2;
}

.footer-col-left p span {
    font-size: 39px;
    width: 75%;
    font-weight: 600;
    color: var(--secondaryColor);

}

.footer-col-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 0px;
    /* margin-right: 100px; */
}



.footer-col-right p {
    margin-bottom: 16px;
    font-size: 29px;
    margin-right: 29px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 15%;
    background-color: var(--white);
    /* Make icons circular */
    overflow: hidden;
    /* Hide overflow to ensure circle shape */
}

.social-icons li a {
    display: block;
    /* Make the link fill the entire circle */
    text-align: center;
    line-height: 40px;
    /* Adjust line height to center the icon vertically */
    width: 40px;
    /* Set width and height for the circle */
    height: 40px;
}

.social-icons a {
    color: #FFFFFF;
    font-size: 24px;
}

.social-icons a:hover {
    color: #CCCCCC;
}

.social-icons li a i {
    color: var(--secondaryColor);
}

/* Background colors for icons */
.instagram {
    background-color: #8a3ab9;
    /* Purple */
}

.facebook {
    background-color: #3b5998;
    /* Blue */
}

.linkedin {
    background-color: #0077b5;
    /* LinkedIn Blue */
}

.youtube {
    background-color: #ff0000;
    /* Red */
}

.footer-bottom-row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-col {
    font-size: 20px;
    flex-grow: 1;
    /* Allow items to grow to take available space */
}

.footer-icon {
    font-size: 20px;
    margin-right: 10px;
}

.footer-icon a {
    font-size: 20px;
}

/* Align first row to the left */
.footer-bottom-row .footer-col:first-child {
    text-align: left;
}

/* Align last row to the right */
.footer-bottom-row .footer-col:last-child {
    text-align: right;
}

/* Media queries for tablet */
@media (max-width: 768px) {
    #footer {
        padding: 50px 20px;
        /* Adjust padding for responsiveness */
    }

    .footer-row {
        flex-direction: column;
        /* Stack columns vertically */
    }

    .footer-col {
        width: 100%;
        margin-bottom: 20px;
        /* Add some space between columns */
    }

    .footer-col-left {
        text-align: center;
        /* Center align the text */
    }

    .footer-col-right {
        text-align: left;
        align-items: center;
        /* Align content to the left on tablet view */
    }

    .social-icons {
        display: flex;
        justify-content: center;
        /* Center align the social icons */
        margin-bottom: 20px;
        /* Add some space between social icons and contact icons */
    }

    .social-icons li {
        margin-right: 10px;
        /* Adjust spacing between social icons */
    }

    .footer-bottom-row {
        margin-top: 0px;
    }

    .footer-col {

        font-size: 12px;
    }
}

/* Media queries for mobile */
@media (max-width: 480px) {

    .footer-col-left p,
    .footer-col-left p span {
        font-size: 18px;
        /* Adjust font size for smaller screens */
    }

    .footer-col-right p {
        font-size: 16px;
        /* Adjust font size for smaller screens */
    }
}